@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-font-color: #404040;
  --beige-color: #f1ebdd;
  --white-color: #f8f5ee;
  --secondary-font-family: "Dancing Script";
}

body {
  color: var(--main-font-color);
  background: var(--white-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
